.carousel-item {
    transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .carousel-item.active {
    opacity: 1; /* Active slide opacity */
    transform: scale(1.05); /* Zoom effect on active slide */
  }
  
  .zoom-in {
    animation: zoomIn 5s ease-out;
  }
  
  @keyframes zoomIn {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.05);
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .blur {
    filter: blur(8px);
    transition: filter 0.5s ease-in-out;
  }
  
  .carousel-item.active .blur {
    filter: blur(0);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 0;
  }
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  left: 0;
    z-index: 1;

    color: white;
  }

  
  .carousel-caption h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    align-self: center;
  }
  
  .carousel-caption p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
 
  
  /* Additional Styles */
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
    font-size: 2em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #fff;
  }
  
  .carousel-indicators .active {
    background-color: #fff;
  }
  
  /* Pause on hover effect */
  #carouselExampleControls:hover .carousel-control-prev,
  #carouselExampleControls:hover .carousel-control-next {
    opacity: 1;
  }
  
  #carouselExampleControls:hover .carousel-inner {
    animation-play-state: paused;
  }
  
  /* Add your own custom styles as needed */
  